In [1]:
import pandas as pd

In [2]:
erp = pd.read_csv("../Source/Fichier_erp.csv", delimiter=";")
web = pd.read_csv("../Source/Fichier_web.csv", delimiter=";")
liaison = pd.read_csv("../Source/Fichier_liaison.csv", delimiter=";")

In [6]:
erp.head()

   product_id  onsale_web price  stock_quantity stock_status
0        3847           1  24,2               0   outofstock
1        3849           1  34,3               0   outofstock
2        3850           1  20,8               0   outofstock
3        4032           1  14,1               0   outofstock
4        4039           1    46               0   outofstock

In [7]:
web.head()

,sku,virtual,downloadable,rating_count,average_rating,total_sales,tax_status,tax_class,post_author,post_date,...,post_name,post_modified,post_modified_gmt,post_content_filtered,post_parent,guid,menu_order,post_type,post_mime_type,comment_count
0,16004,0,0,0,0.0,5.0,NaN,NaN,2.0,2018-06-07 16:27:25,...,chateau-du-couvent-pomerol-2017,2020-08-25 18:35:02,2020-08-25 16:35:02,NaN,0.0,https://www.bottle-neck.fr/wp-content/uploads/...,0.0,attachment,image/jpeg,0.0
1,NaN,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,15075,0,0,0,0.0,3.0,taxable,NaN,2.0,2018-02-14 15:39:43,...,pares-balta-penedes-indigena-2017,2020-08-20 15:35:02,2020-08-20 13:35:02,NaN,0.0,https://www.bottle-neck.fr/?post_type=product&...,0.0,product,NaN,0.0
3,16209,0,0,0,0.0,6.0,taxable,NaN,2.0,2018-02-14 17:15:31,...,maurel-cabardes-tradition-2017,2020-08-05 18:05:03,2020-08-05 16:05:03,NaN,0.0,https://www.bottle-neck.fr/?post_type=product&...,0.0,product,NaN,0.0
4,15763,0,0,0,0.0,1.0,NaN,NaN,2.0,2020-01-25 14:08:16,...,domaine-de-la-monardiere-vacqueyras-les-vieill...,2020-08-21 11:35:02,2020-08-21 09:35:02,NaN,0.0,https://www.bottle-neck.fr/wp-content/uploads/...,0.0,attachment,image/jpeg,0.0

In [8]:
liaison.head()

   product_id id_web  Unnamed: 2  Unnamed: 3  Unnamed: 4
0        3847  15298         NaN         NaN         NaN
1        3849  15296         NaN         NaN         NaN
2        3850  15300         NaN         NaN         NaN
3        4032  19814         NaN         NaN         NaN
4        4039  19815         NaN         NaN         NaN