<div style=" background-color: RGB(0,114,200);" >
<h1 style="margin: auto; padding: 7px 0; color:#fff; text-align: center">PROJET 5</h1>
<h2 style="margin: auto; padding: 15px 0; color:#fff; text-align: center">BottleNeck - Optimiser la gestion des données d'une boutique
</h2>
</div>

In [1]:
import pandas as pd

In [2]:
erp = pd.read_csv("../Source/Fichier_erp.csv", delimiter=";")
web = pd.read_csv("../Source/Fichier_web.csv", delimiter=";")
liaison = pd.read_csv("../Source/Fichier_liaison.csv", delimiter=";")

<div style="background-color: RGB(0,150,250);" >
<h2 style="margin: auto; padding: 20px; color:#fff; ">Etape 1 - Exploration du fichier ERP (Référence produit)</h2>
</div>

In [3]:
print(erp.head())
print(erp.shape)

   product_id  onsale_web price  stock_quantity stock_status
0        3847           1  24,2               0   outofstock
1        3849           1  34,3               0   outofstock
2        3850           1  20,8               0   outofstock
3        4032           1  14,1               0   outofstock
4        4039           1    46               0   outofstock
(825, 5)

In [4]:
erp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 825 entries, 0 to 824
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   product_id      825 non-null    int64
 1   onsale_web      825 non-null    int64
 2   price           825 non-null    object
 3   stock_quantity  825 non-null    int64
 4   stock_status    825 non-null    object
dtypes: int64(3), object(2)
memory usage: 32.4+ KB

In [5]:
#product_id = Unique ? OUI
erp['product_id'].nunique()

825

In [6]:
#onsale_web = Produits mis en ligne ou non ? Boolean
erp['onsale_web'].nunique()

2

In [7]:
#price = convertir en float
erp['price'] = pd.to_numeric(erp['price'].str.replace(',', '.'), errors="coerce")

In [8]:
erp.head(10)

   product_id  onsale_web  price  stock_quantity stock_status
0        3847           1   24.2               0   outofstock
1        3849           1   34.3               0   outofstock
2        3850           1   20.8               0   outofstock
3        4032           1   14.1               0   outofstock
4        4039           1   46.0               0   outofstock
5        4040           1   34.3               0   outofstock
6        4041           1   32.7              15      instock
7        4042           1   31.2              34      instock
8        4043           1   60.0              12      instock
9        4045           1   42.6              66      instock

In [9]:
erp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 825 entries, 0 to 824
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   product_id      825 non-null    int64
 1   onsale_web      825 non-null    int64
 2   price           825 non-null    float64
 3   stock_quantity  825 non-null    int64
 4   stock_status    825 non-null    object
dtypes: float64(1), int64(3), object(1)
memory usage: 32.4+ KB

In [15]:
#stock_quantity = Beaucoup de 0 (à vérifier)
erp.describe()

        product_id  onsale_web       price  stock_quantity
count   825.000000  825.000000  825.000000      825.000000
mean   5162.597576    0.869091   32.384000       26.583030
std     902.644635    0.337506   26.832271       45.875948
min    3847.000000    0.000000   -8.000000       -1.000000
25%    4348.000000    1.000000   14.600000        1.000000
50%    4907.000000    1.000000   24.400000       11.000000
75%    5805.000000    1.000000   42.000000       34.000000
max    7338.000000    1.000000  225.000000      578.000000

In [16]:
#Il y a des prix négatifs ? les enlever ? assigner les valeurs absolu (positif) ?

In [17]:
#Il y a des stock_quantity négatifs ? les enlever ? assigner les valeurs absolu (positif) ?

In [18]:
#Il y a des prix et des stock qui me paraissent élever comparer à la grande majorité des produits ? à voir

In [11]:
#stock_status = beaucoup de outofstock ?

In [12]:
#aucune valeurs null

<div style="background-color: RGB(0,150,250);" >
<h2 style="margin: auto; padding: 20px; color:#fff; ">Etape 2 - Exploration du fichier Web (Produits commercialisés en ligne)</h2>
</div>

In [13]:
web.head()

,sku,virtual,downloadable,rating_count,average_rating,total_sales,tax_status,tax_class,post_author,post_date,...,post_name,post_modified,post_modified_gmt,post_content_filtered,post_parent,guid,menu_order,post_type,post_mime_type,comment_count
0,16004,0,0,0,0.0,5.0,NaN,NaN,2.0,2018-06-07 16:27:25,...,chateau-du-couvent-pomerol-2017,2020-08-25 18:35:02,2020-08-25 16:35:02,NaN,0.0,https://www.bottle-neck.fr/wp-content/uploads/...,0.0,attachment,image/jpeg,0.0
1,NaN,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,15075,0,0,0,0.0,3.0,taxable,NaN,2.0,2018-02-14 15:39:43,...,pares-balta-penedes-indigena-2017,2020-08-20 15:35:02,2020-08-20 13:35:02,NaN,0.0,https://www.bottle-neck.fr/?post_type=product&...,0.0,product,NaN,0.0
3,16209,0,0,0,0.0,6.0,taxable,NaN,2.0,2018-02-14 17:15:31,...,maurel-cabardes-tradition-2017,2020-08-05 18:05:03,2020-08-05 16:05:03,NaN,0.0,https://www.bottle-neck.fr/?post_type=product&...,0.0,product,NaN,0.0
4,15763,0,0,0,0.0,1.0,NaN,NaN,2.0,2020-01-25 14:08:16,...,domaine-de-la-monardiere-vacqueyras-les-vieill...,2020-08-21 11:35:02,2020-08-21 09:35:02,NaN,0.0,https://www.bottle-neck.fr/wp-content/uploads/...,0.0,attachment,image/jpeg,0.0

<div style="background-color: RGB(0,150,250);" >
<h2 style="margin: auto; padding: 20px; color:#fff; ">Etape 3 - Exploration du fichier Liaison</h2>
</div>

In [14]:
liaison.head()

   product_id id_web  Unnamed: 2  Unnamed: 3  Unnamed: 4
0        3847  15298         NaN         NaN         NaN
1        3849  15296         NaN         NaN         NaN
2        3850  15300         NaN         NaN         NaN
3        4032  19814         NaN         NaN         NaN
4        4039  19815         NaN         NaN         NaN